.SearchBar-wrapper{
  border: solid 2px #ccc;
  border-radius: 50px;
}

.search-movie-input{
  margin: auto;
  padding: 8px;
  font-size: 20px;
  border: 0;
  color: #aaa;
  border-radius: 50px;
}
input {
  padding-left: 20px;
}
.search-movie-input::placeholder{
  color: rgba(150, 150, 150, 0.5);
}

.search-movie-input:focus{
  outline: 0;
}