.App-header {
  display: grid;
  grid-template-columns: 15% auto;
  background-color: #cc343f;
}

.App-header-title{
  padding: 0px;
  text-align: center;
  display: block;
  transition: all .5s ease;
}

.App-logo{
  overflow: hidden;
  position: relative;
  max-width: 120px;
}

.App-logo:hover .App-header-title{
  visibility: hidden;
}
