.App-header {
  display: grid;
  background-color: #fff;
}

.App-header-title{
  padding: 0px;
  text-align: center;
  display: block;
  transition: all .5s ease;
}

.App-logo:hover .App-header-title{
  visibility: hidden;
}
